<h2>Por Región</h2>

<hr>

<section class="row">
  <div class="col">

    <countries-search-box (onDebounce)="searchByRegion($event)"
      placeholder="Busqueda por región"></countries-search-box>
  </div>
</section>


<section class="row">
  <div class="col">
    <hr>
    <!-- <ul> -->
    <countries-table [countries]="countries"></countries-table>
    <!-- <li *ngFor="let country of countries">{{ country.name.common }}</li> -->
    <!-- </ul> -->
  </div>
  <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
</section>
