<h2>Por Capital</h2>

<hr>

<section class="row">
  <div class="col">

    <!-- (onValue)="searchByCapital($event)"  -->
    <countries-search-box (onDebounce)="searchByCapital($event)" placeholder="Busqueda por capital"
      [initialValue]="initialValue"></countries-search-box>
  </div>
</section>


<section class="row">
  <div class="col">
    <hr>
    <!-- <ul> -->
    <countries-table [countries]="countries"></countries-table>
    <!-- <li *ngFor="let country of countries">{{ country.name.common }}</li> -->
    <!-- </ul> -->
  </div>
  <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
</section>
